<h1 id="tableLabel">Guest Hangar</h1>

<p>Here is a list of starships, available to all users:</p>

@if( !starships )
{
    <p><em>Loading... (try logging in first!)  Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>
}
@else
{
    <table>
        <thead>
            <tr>
                <th>Ship Name</th>
                <th>Hull</th>
                <th>Reactor</th>
                <th>Thruster</th>
                <th>Weapon</th>
                <th>Total Mass</th>
            </tr>
        </thead>
        <tbody>
            @for( starship of starships; track $index )  
            {
                <tr>
                    <td>{{ starship.name }}</td>
                    <td>{{ starship.hullName }}</td>
                    <td>{{ starship.reactorName }}</td>
                    <td>{{ starship.thrusterName }}</td>
                    <td>{{ starship.weaponName }}</td>
                    <td>{{ starship.massTotal }}</td>
                </tr>
            }
        </tbody>
    </table>
}